.bg-img-style{
    background-image: url('./images/bg.jpg');
}
.client-heading{
    text-align: center;
    background-color: rgb(180, 180, 180, 0.8);
    border-radius: 10px;
}

.login-container{
    height: 800px;
}

.center-table{
    margin-top: 200px;
}